<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <span class="powerby">PowerBy</span> <a class="powera"  href="http://freecodecamp.cn/xdsnet">@xdsnet</a><br>
    <span class="powerby">股票图表-PowerBy</span> <a class="powera"  href="http://www.highcharts.com">Highcharts(Highstock)</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="powerby">股票数据-PowerBy</span> <a class="powera"  href="http://www.sohu.com.cn">SOHU</a>
  </div>
</nav>