<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar-center mcut">
        <ul class="nav navbar-nav navbar-right"><li>
        FCC-沪深股票追踪(输入股票代码以增加追踪)</li>
        <li>
        <input type="text" class="searchinput" autocomplete="off" id="mysearch" name="mysearch" placeholder="6位股票代码:600000或000001"  ></li>
        <li><button id="sss" class="sss" type="button" onclick="addHere();">添加</button>
        </li></ul>
      </div>

      
      <div id="navbar" class="navbar-collapse collapse"><!-- 头部导航 -->
      <!-- 
      <ul class="nav navbar-nav navbar-center"><li>
        输入股票代码以增加追踪
        <input type="text" class="searchinput" autocomplete="off" id="mysearch" name="mysearch" placeholder="股票代码，多个以;分割"  >
        <button id="sss" class="sss" type="button" onclick="add();">添加</button>
        </li></ul>
        -->
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  